<section class="section-1">
  <div class="container p-5">
    <div class="row d-flex align-items-center justify-content-center vh-100">
      <div class="col-md-6 d-flex flex-column align-items-start justify-content-center text-start p-2">
        <h1>
          Leading Offshore<br>
          <span class="text-blue-glow" [ngStyle]="{'text-shadow': getGlowStyleDecrease()}"> 
            Software Development
          </span><br>
          Company
        </h1>
        <p class="mt-4">26+ years of excellence in delivering cutting-edge software solutions to clients worldwide.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img src="/assets/images/logo-letter.png" width="200">
      </div>
    </div>
  </div>
</section>


<section class="section-2">

  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 p-2">
        <p class="text-blue">GET TO KNOW US</p>
        <h1>Empowering Your Digital Growth with Offshore<br><span class="text-blue"> IT Solutions</span> </h1>
        <div class="content">
          <p>With 26+ years of expertise, Notetech is a leader in offshore software development, delivering high-quality IT solutions to clients in the USA, UK, and Europe. Our dedicated teams help reduce operational costs and enhance efficiency with cutting-edge technology and a commitment to excellence.</p>
        </div>
      </div>

    </div>

    
  </div>

</section>

