.section-1 {
    height: 100vh;
    background: linear-gradient(135deg, #013f76 0%, #006cb6 100%)
    
}

.section-1 h1 {
    color: rgb(255, 255, 255);
    line-height: 1.4;
    font-size: 3.5rem;
}

.section-1 p{
    color: rgb(255, 255, 255);
}



.text-blue-glow{
  
    text-shadow:
      0 0 7px #05f1f9,
      0 0 10px #05f1f9,
      0 0 21px #05f1f9,
      0 0 42px #0a75bd,
      0 0 82px #0a75bd,
      0 0 92px #0a75bd,
      0 0 102px #0a75bd,
      0 0 151px #0a75bd;
     
}

.text-blue-glow-2{
  
  text-shadow:
    0 0 7px #05a0a5,
    0 0 10px #05bbc2,
    0 0 21px #034346,
    0 0 42px #0a75bd,
    0 0 82px #0a75bd,
    0 0 92px #0a75bd,
    0 0 102px #0a75bd,
    0 0 151px #0a75bd;
   
}


.text-blue{
    color: #0a75bd;
}

.text-gray{
  color: gray;
}

/*  */



@media (max-width: 992px) {
    .section-1 h1,p{
        padding-left: 20px;
    }
    .section-1 h1{
        font-size: 3rem;
    }

    .about-section h1{
      margin-left: 20px;
    }



    .service-section h1{
      margin-left: 20px;
    }

    .read-more-btn{
      margin-left: 20px;
    }

}

@media (max-width: 575px) {
    .toggle-menu {
        left: 0rem;
        width: 100%;
    }
    .section-1 h1{
        font-size: 2.5rem;
    }
}

/* ---------------------------------------------------------------------------------------------------- */
.section-2 {
    background-image: url('/assets/images/bg-section2.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.content p{
    color: rgb(63, 62, 62);
    line-height: 1.8;
    font-weight: 100;
    font-size: var(--text-content);
}

/* ----------------------------- about section -------------------------------- */

.about-section{
  padding:45px 0px 45px 0px;
}

/* -----------------------------service section---------------------------------- */

.service-section {
    padding: 40px 0px 55px 20px;

  }

.service-heading h2 {
    display: block;
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
  
  .service-heading h2 span {
    color: var(--blue4);
  }
  
  .service-heading h4 {
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
  }
  
  .service-heading h4::before {
    background: var(--blue4) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
  }
  
  .service-heading {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
  }
  
  .carousel-shadow .owl-stage-outer {
    margin: -15px -15px 0;
    padding: 15px;
  }
  
  .our-service-area .our-offer-carousel .owl-dots .owl-dot span {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid;
    height: 15px;
    margin: 0 5px;
    width: 15px;
  }
  
  .our-service-area .our-offer-carousel .owl-dots .owl-dot.active span {
    background: var(--blue4) none repeat scroll 0 0;
    border-color: var(--blue4);
  }
  
  .our-service-area .item {
    background: #ffffff none repeat scroll 0 0;
    border-left: 2px solid var(--blue4);
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    overflow: hidden;
    padding: 30px;
    position: relative;
    z-index: 1;
  }
  
  .our-service-area.text-center .item {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 67px 40px 64px;
    height: 341px;
    border-radius: 20px;
  }
  
  .our-service-area.text-center .item i {
    background: var(--blue4) none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    font-size: 40px;
    height: 80px;
    line-height: 80px;
    position: relative;
    text-align: center;
    width: 80px;
    z-index: 1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin-bottom: 25px;
  }
  
  .our-service-area.text-center .item i::after {
    border: 2px solid var(--blue4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 90px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 90px;
    z-index: -1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  
  .our-service-area.item-border-less .item {
    border: medium none;
  }
  
  .our-service-area .our-offer-items.less-carousel .equal-height {
    margin-bottom: 30px;
  }
  
  .our-service-area.item-border-less .item .number {
    font-family: "Poppins",sans-serif;
    font-size: 50px;
    font-weight: 900;
    opacity: 0.1;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  
  .our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
  .our-service-area.center-active .single-item:nth-child(2n) .item {
    background: var(--blue4) none repeat scroll 0 0;
  }
  
  .our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
  .our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
  .our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
  .our-service-area.center-active .single-item:nth-child(2n) .item i,
  .our-service-area.center-active .single-item:nth-child(2n) .item h4,
  .our-service-area.center-active .single-item:nth-child(2n) .item p {
    color: #ffffff;
  }
  
  .our-service-area .item i {
    color: var(--blue4);
    display: inline-block;
    font-size: 60px;
    margin-bottom: 20px;
  }
  
  .our-service-area .item h4 {
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .our-service-area .item p {
    margin: 0;
  }
  
  .our-service-area .item i,
  .our-service-area .item h4,
  .our-service-area .item p {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  
  .our-service-area .item::after {
    background: var(--blue4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    width: 100%;
    z-index: -1;
  }
  
  .our-service-area .item:hover::after {
    left: 0;
  }
  
  .our-service-area .item:hover i,
  .our-service-area .item:hover h4,
  .our-service-area .item:hover p {
    color: #ffffff !important;
  }
  
  .our-service-area.text-center .item:hover i::after {
    border-color: #ffffff !important;
  }
  
  .our-service-area.text-center .item:hover i {
    background-color: #ffffff !important;
    color: var(--blue4) !important;
  }
  
  .our-service-area.text-left .item i {
    background: var(--blue4) none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 30px;
    position: relative;
    width: 100px;
    z-index: 1;
    text-align: center;
  }
  
  .our-service-area.text-left .item i::after {
    border: 2px solid var(--blue4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 120px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 120px;
  }

  /* ======================================================== */

  .section-3{
    padding:30px 0px 30px 0px;
    background-color: var(--light-blue);
  }

  .section-3 .container{
    padding:20px;
   
  }

  .section-3 .container .txt-header{
    font-weight: 600;
  }

  .section-3 .container .text-blue{
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) ;
    font-size: 3.5rem;
  }


  @media (max-width: 992px) {
    .section-3 .container .text-blue{
      font-size: 2.5rem;
    }
    .section-3 h1{
      margin-left: 20PX;
    }
  }

  /* ======================================================== */
  .section-4{
    padding:30px 0px 30px 0px;
  }

  .section-4 .container{
    padding:20px;
  }

  .section-4 .technology-card{
    padding: 20px;
    border-radius: 20px;

  }

  .technology-card h1{
    font-size: 3.5rem;
    font-weight: 600;
  }

/*  */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
  padding-left: 20px;
}

.tech-content .tech-card {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
              rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
              rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
              rgba(0, 0, 0, 0.06) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--blue4);
  color: #fff;
  height: 11rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling and shadow */
}

.tech-content .tech-card:hover {
  transform: scale(1.05); /* Smooth scaling on hover */
}

@media (max-width: 992px) {
  .tech-content{
    margin-left: 20px;
  }
}

/* Testimonial */

.testimonial-section{
  padding:30px 0px 30px 0px;
}

.testimonial-section .container{
  padding:20px;
}

.testimonial-section h1{
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 992px) {
  .testimonial-section h1,p{
    text-align: center;
  }
  .testimonial-section h1{
    font-size: 2.5rem;
  }
  .slider__txt {
    font-size: 18px;
  }

}

.testimonials-section {
  background: #fff;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 550px;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 80px 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
  top: 24%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -400%;
}
.slider__inner {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500%;
  align-items: center;
  height: auto;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__caption {
  font-size: 14px;
  color: #111;
  opacity: .5;
}
.slider__txt {
  font-size: 17px;
  font-weight:400;
  line-height: 1.7;
  color: #111;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 750px;
}
blockquote {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 100px;
  color: var(--blue4);
  margin-bottom: 0;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/* Our office */

.office-section{
    padding:30px 0px 30px 0px;
    margin-bottom: 20px;
  }

  .office-section .container {
    margin: 10px;
    width: 900px;
    margin: auto;
    max-width: 100%;
  }

  .office-section .container h1{
    font-size: 3.5rem;
    font-weight: 600;
  }

  /* ========= */
  .map_container {
    position: relative;
  }
  
  .map_container img {
    margin: auto;
    width: 100%;
    max-width: 100%;
    padding-bottom: 30px;
  }
  
  .map_marker {
    display: block;
    width: 7px;
    height: 7px;
    background-color: #0ff;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }
  
  .map_marker::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    right: -20px;
    bottom: -20px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 255, .15) 0, transparent 100%);
    border-radius: 50%;
    width: 68px;
    height: 68px;
  }
  
  .dot_india {
    top: 46.5%;
    left: 69.5%;
  }
  
  .dot_france {
    top: 36%;
    left: 49%;
  }
  
  .marker_info {
    display: block;
    position: absolute;
    top: 14px;
    left: 100%;
    width: 300px;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5); /* Color after scrolling */
    backdrop-filter: blur(15px);
    transition: all 0.5s ease-in-out;
    padding: 10px;
    border-radius: 8px;
  }

  .marker_info:hover {
    background: rgba(0, 0, 0, 0.9); /* Darker background */
    opacity: 1; /* Fully visible on hover */
    scale: 1.01;
    transition: all 0.5s ease-in-out;
}
  
  .marker_info img {
    width: 100px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(10px);
    animation: fadeUp 0.6s ease forwards;
  }
  
  .marker_info p {
    opacity: 0;
    transition: all 1.6s ease;
    transform: translateY(10px);
    animation: fadeUp 0.6s ease forwards;
    animation-delay: 0.2s;
    margin-top: 0;
  }
  
  @keyframes fadeUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Show marker info when active */
  .marker_info.visible {
    display: block;
  }
  
  @media (max-width: 768px) {
    .map_container {
      padding-top: 20px;
    }
  
    .map_marker {
      width: 10px;
      height: 10px;
    }
  
    .marker_info img {
      width: 70px;
    }
  
    .map_container {
      width: calc(100% + 208px);
      margin: auto;
      margin-left: -100px;
      overflow-x: hidden;
    }
  
    .mobile_view_restrict {
      overflow: hidden;
    }

    .marker_info {
      left:-100px;
    }
  }
  
  

  /* ========= */


  /*-------------------------- Button----------------------------- */

.read-more-btn {
  line-height: 1;
  text-decoration: none;
  height: 3rem;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--blue4);
  color: #fff;
  border-radius: 10rem;
  font-weight: 400;
  padding: 0.75rem 1.5rem;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.read-more-btn__icon-wrapper {
flex-shrink: 0;
width: 25px;
height: 25px;
position: relative;
color: var(--blue4);
background-color: #fff;
border-radius: 50%;
display: grid;
place-items: center;
overflow: hidden;
}

.read-more-btn:hover {
background-color: #000;
}

.read-more-btn:hover .read-more-btn__icon-wrapper {
color: #000;
}

.read-more-btn__icon-svg--copy {
position: absolute;
transform: translate(-150%, 150%);
}

.read-more-btn:hover .read-more-btn__icon-svg:first-child {
transition: transform 0.3s ease-in-out;
transform: translate(150%, -150%);
}

.read-more-btn:hover .read-more-btn__icon-svg--copy {
transition: transform 0.3s ease-in-out 0.1s;
transform: translate(0);
}

/*  */

.view-all-btn {
--secondary-color: #fff;
--hover-color: #111;
--arrow-width: 10px;
--arrow-stroke: 2px;
box-sizing: border-box;
border: 0;
border-radius: 30px;
color: var(--secondary-color);
padding: .7em 1.8em;
background: var(--blue4);
display: flex;
transition: 0.2s background;
align-items: center;
gap: 0.6em;

}

.view-all-btn .arrow-wrapper {
display: flex;
justify-content: center;
align-items: center;
}

.view-all-btn .arrow {
margin-top: 1px;
width: var(--arrow-width);
background: var(--primary-color);
height: var(--arrow-stroke);
position: relative;
transition: 0.2s;
}

.view-all-btn .arrow::before {
content: "";
box-sizing: border-box;
position: absolute;
border: solid var(--secondary-color);
border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
display: inline-block;
top: -3px;
right: 3px;
transition: 0.2s;
padding: 3px;
transform: rotate(-45deg);
}

.view-all-btn:hover {
background-color: var(--hover-color);
}

.view-all-btn:hover .arrow {
background: var(--secondary-color);
}

.view-all-btn:hover .arrow:before {
right: 0;
}

/*  */

.btn {

perspective: 1000px;
padding: 8em 4em;
background: url('/assets/images/logo-letter.png');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
border: none;
outline: none;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 4px;
color: #fff;
text-shadow: 0 10px 10px #000;
cursor: pointer;
transform: rotateX(70deg) rotateZ(30deg);
transform-style: preserve-3d;
transition: transform 0.5s;
width: 79%;
}

.btn::before {
content: "";
width: 100%;
height: 15px;
background-color: var(--color2);
position: absolute;
bottom: 0;
right: 0;
transform: rotateX(90deg);
transform-origin: bottom;
}

.btn::after {
content: "";
width: 15px;
height: 100%;
background-color: var(--color1);
position: absolute;
top: 0;
right: 0;
transform: rotateY(-90deg);
transform-origin: right;
}

.btn:hover {
transform: rotateX(30deg) rotateZ(0);
}





/* accordion */

.accordions {
  width: 100%;
  margin: 0 auto;
  padding-left:20px;
}

.accordion {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: border-color .7s ease-in-out;
  background-color: #ffffff86;
  border-radius: 5px;
  border:1px solid transparent;

}

.accordion label{
  color: #000;
}

.accordion:hover {
  border:1px solid var(--blue1);
  border-color: var(--blue1);
}

.accordion__header {
  cursor: pointer;
  font-weight: 200;
  font-size: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
  color: #666;

}
.accordion__header:after, .accordion__header:before {
  content: '';
  position: absolute;
  right: 1.5em;
  width: 2px;
  height: 0.75em;
  background-color: #00000078;
  transition: all 0.2s;
}
.accordion__header:after {
  transform: rotate(90deg);
}

.accordion:has(input:checked) .accordion__header {
  color: #000;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  padding-left: 20px;
  transition: max-height 0.7s ease-in-out;
  * {
        padding: 0 1em 1em;
  }
  
}

.accordion__content p{
  color: rgb(63, 62, 62);
  line-height: 1.8;
  font-weight:lighter;
  font-size: .9rem;
}

.accordion input {
  display: none;
}

.accordion:has(input:checked) {
  border-color: var(--blue2);
  background-color: #ffffff78;    
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.accordion input:checked ~ .accordion__header:before {
    transform: rotate(270deg) !important;
  background-color: #000;
 }

.accordion input:checked ~ .accordion__header:after {
    transform: rotate(270deg) !important;
  background-color: #000;
 }

.accordion input:checked ~ .accordion__content {
    max-height: 1000px; /* Adjust based on content length */
}

