<div *ngIf="isLoading" class="loading-container">
  <p>Loading...</p>
</div>

<!-- Show content only when isLoading is false -->
<div *ngIf="!isLoading">
  <section
    class="header-banner"
    style="background-image: url('/assets/images/contact-bg.jpg')"
  >
    <div class="overlay">
      <div class="header-title">
        <h1 [innerHTML]="pageTitle"></h1>
        <h2 *ngIf="pageContent.page_sub_title">
          {{ pageContent.page_sub_title }}
        </h2>
        <p *ngIf="pageContent.page_description">
          {{ pageContent.page_description }}
        </p>
      </div>
    </div>
  </section>

  <section
    class="section-bg"
    style="background-image: url('/assets/images/world-map2.png')"
    data-scroll-index="7"
  >
    <div class="overlay-contact pt-100 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <div class="contact-info">
              <h2 class="contact-title" [innerHTML]="title"></h2>
              <p *ngIf="pageContent.description">
                {{ pageContent.description }}
              </p>
              <ul class="contact-info">
                <li *ngIf="settings.phone_number">
                  <div class="info-left">
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                  <div class="info-right">
                    <h4>{{ settings.phone_number }}</h4>
                  </div>
                </li>
                <li *ngIf="settings.email">
                  <div class="info-left">
                    <i class="fas fa-at"></i>
                  </div>
                  <div class="info-right">
                    <h4>{{ settings.email }}</h4>
                  </div>
                </li>
                <li *ngIf="address">
                  <div class="info-left">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="info-right">
                    <h4 [innerHTML]="address"></h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center">
            <div class="contact-form">
              <!--Contact Form-->
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      formControlName="name"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Subject"
                      formControlName="subject"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      formControlName="email"
                    />
                  </div>

                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Phone Number"
                      formControlName="phone_number"
                    />
                  </div>
                  <div class="col-sm-12">
                    <textarea
                      class="form-control"
                      rows="5"
                      placeholder="Message"
                      formControlName="message"
                    ></textarea>
                  </div>
                  <div class="col-sm-12">
                    <button
                      class="btn btn-block"
                      type="submit"
                      [disabled]="contactForm.invalid"
                    >
                      Send Now!
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="map-section" *ngIf="googleMapUrl">
    <div class="container mb-5">
      <h1>Find Us on the <span style="color: #0a75bd">Map!</span></h1>
      <iframe
        [attr.src]="googleMapUrl"
        height="500"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </section>
</div>
