<div
  *ngIf="!loading"
  class="blank-layout-container justify-content-center align-items-center bg-light-primary"
  style="height: 100vh; position: relative"
>
  <!-- Logo positioned at the top-left corner -->
  <a
    [routerLink]="['/authentication/login']"
    style="position: absolute; top: 16px; left: 16px; display: inline-block"
  >
    <img
    src="assets\images\notetech-logo.png"
      alt="logo"
      style="height: 50px"
    />
  </a>

  <!-- Main Content -->
  <div class="position-relative row w-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <h1>Reset Password</h1>
          </div>

          <form
            class="m-t-30"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="onResetPassword()"
            novalidate
          >
            <!-- Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
              New Password
            </mat-label>
            <mat-form-field
              appearance="outline"
              class="w-100"
              color="primary"
              style="padding-bottom: 15px"
            >
              <input
                matInput
                [type]="isPasswordVisible ? 'text' : 'password'"
                formControlName="password"
                placeholder="Enter new password"
                required
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="togglePasswordVisibility()"
              ></button>
              <mat-error
                *ngIf="resetPasswordForm.get('password')?.hasError('required')"
              >
                Password is required.
              </mat-error>
              <mat-error
                *ngIf="resetPasswordForm.get('password')?.hasError('minlength')"
              >
                Password must be at least 6 characters.
              </mat-error>
              <mat-error
                *ngIf="resetPasswordForm.get('password')?.hasError('pattern')"
              >
                Password must contain at least one letter and one number.
              </mat-error>
            </mat-form-field>

            <!-- Confirm Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
              Confirm Password
            </mat-label>
            <mat-form-field
              appearance="outline"
              class="w-100"
              color="primary"
              style="padding-bottom: 15px"
            >
              <input
                matInput
                [type]="isConfirmPasswordVisible ? 'text' : 'password'"
                formControlName="confirmPassword"
                placeholder="Confirm new password"
                required
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="toggleConfirmPasswordVisibility()"
              ></button>
              <mat-error
                *ngIf="
                  resetPasswordForm.get('confirmPassword')?.hasError('required')
                "
              >
                Confirm Password is required.
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.hasError('mismatch')">
                Passwords do not match.
              </mat-error>
            </mat-form-field>

            <!-- Submit Button -->
            <button
              mat-flat-button
              color="primary"
              class="w-100"
              type="submit"
              [disabled]="resetPasswordForm.invalid"
            >
              Reset Password
            </button>
          </form>

          <span class="d-block f-w-500 text-center m-t-24"
            >Back to
            <a
              [routerLink]="['/authentication/login']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Sign In</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

