<mat-toolbar class="topbar">
  <!-- Mobile Menu -->

  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <mat-menu
    #profilemenu="matMenu"
    xPosition="before"
    class="topbar-dd cardWithShadow"
  >
    <div class="p-x-12 m-t-12">
      <a mat-flat-button color="primary" class="w-100">Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>
