<div
  *ngIf="!loading"
  class="blank-layout-container justify-content-center align-items-center bg-light-primary"
  style="height: 100vh; position: relative"
>
  <!-- Logo positioned at the top-left corner -->
  <a
    [routerLink]="['/authentication/login']"
    style="position: absolute; top: 16px; left: 16px; display: inline-block"
  >
    <img
      src="assets\images\notetech-logo.png"
      alt="logo"
      style="height: 50px"
    />
  </a>

  <!-- Main Content -->
  <div class="position-relative row w-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <h1>Login</h1>
          </div>

          <form class="m-t-30" [formGroup]="loginForm">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Username</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="username" />
            </mat-form-field>

            <!-- Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" />
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <a
                [routerLink]="['/authentication/forgot-password']"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">
                Forgot Password?
              </a>
            </div>
            <a
              mat-flat-button
              color="primary"
              class="w-100"
              (click)="onLogin()"
            >
              Sign In
            </a>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
