<section class="header-banner">
    <div class="overlay">
        <div class="header-title">
            <h1>OUR <span style="text-shadow:
                0 0 7px #05a0a5,
                0 0 10px #05bbc2,
                0 0 21px #034346,
                0 0 42px #0a75bd,
                0 0 82px #0a75bd,
                0 0 92px #0a75bd,
                0 0 102px #0a75bd,
                0 0 151px #0a75bd;">SERVICES</span></h1>
            <p>We leverage extended development teams and adhere to best practices and methodologies, providing the foundation for efficiently
                 building cutting-edge technology solutions. This approach enables us to deliver innovative solutions rapidly, while
                  maintaining a high level of quality and ensuring seamless integration with existing systems.
            </p>
        </div>
    </div>
</section>

<section class="service-content">
    <div class="top-header p-3">
        <div class="container mt-4">
            <p class="text-blue mb-0">TRANSFORMING IDEAS INTO</p>
            <h1><span class="text-blue">Smart Digital</span> Solutions</h1>
        </div>
    </div>

    <div class="content mt-5">
        <div class="container">
            <div class="row w-100 mb-3 shadow p-3">
                <div class="col-md-4 d-flex">
                    <div class="sleft-card">
                        <img src="assets/images/service-bg.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="sright-card">
                        <h4>OffShore Development</h4>
                        <p>At Notetech, we excel in building tailored offshore teams that precisely align with our clients' needs and business objectives. Our work environment is rooted in strong ethical values, and our commitment to fulfilling our clients' goals is reflected in the quality of our work. We maintain momentum to ensure the best possible outcomes, driven by a strong sense of purpose and focus.</p>
                    </div>
                </div>
            </div>

            <div class="row w-100 mb-3 shadow p-3">
                <div class="col-md-8">
                    <div class="sright-card">
                        <h4>OffShore Development</h4>
                        <p>At Notetech, we excel in building tailored offshore teams that precisely align with our clients' needs and business objectives. Our work environment is rooted in strong ethical values, and our commitment to fulfilling our clients' goals is reflected in the quality of our work. We maintain momentum to ensure the best possible outcomes, driven by a strong sense of purpose and focus.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="sleft-card">
                        <img src="assets/images/service-bg.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
