/* ======================= */
.text-blue-glow{
  
    text-shadow:
    0 0 7px #05f1f978, 0 0 10px #05f1f900, 0 0 21px #05f1f961, 0 0 42px #0a75bd, 0 0 82px #0a75bd, 0 0 92px #0a75bd, 0 0 102px #0a75bd, 0 0 151px #0a75bd00
     
}

.text-blue-glow-2{
  
  text-shadow:
    0 0 7px #05a0a5,
    0 0 10px #05bbc2,
    0 0 21px #034346,
    0 0 42px #0a75bd,
    0 0 82px #0a75bd,
    0 0 92px #0a75bd,
    0 0 102px #0a75bd,
    0 0 151px #0a75bd;
   
}


.text-blue{
    color: #0a75bd;
}

.text-gray{
  color: gray;
}
/* ======================= */


.header-banner {
    height: 86vh;
    background: url('/assets/images/service-bg.jpg'); /* Corrected path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.541);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-banner .header-title{
    max-width: 60%;
}




.header-banner h1 {
    color:#fff;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 20px; /* Add space below the heading */
}

.header-banner p {
    color: white;
    line-height: 1.8;
    font-weight: 100;
    font-size: var(--text-content);
}


/* --------------------- */

.service-content{
    background-image: url('/assets/images/bg-section2.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100vh;
}

.top-header{
    height:110px;
    width: 100%;
    background: url('/assets/images/top-header.png'); /* Corrected path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -8px;
}

.top-header h1{
    font-size: 3rem;
    font-weight: 700;
}

/*  */
.service-content .content{
    padding: 20px;
}

.content p{
    color: rgb(63, 62, 62);
    line-height: 1.8;
    font-weight: 100;
    font-size: var(--text-content);
}

.sleft-card{
    padding: 5px;
    /* box-shadow: rgba(1, 1, 1, 0.16) 0px 10px 36px 0px, rgba(14, 0, 143, 0) 0px 0px 0px 1px; */
    border-radius: 10px;
    height: 320px;
    width: 100%;
    background-color: #ffffff;
}

.sleft-card img{
    width:100%;
    height:100%;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sright-card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
}


@media (max-width: 575px) {
    .top-header{
        margin-bottom: 20px;
    }
    .top-header .container{
        margin-left: 20px;
    }

    .service-content .content{
        margin-left: 25px;
    }
}