<section class="header-banner">
    <div class="overlay">
        <div class="header-title">
            <h1>OUR <span class="text-blue-glow">TECHNOLOGIES</span></h1>
            <p>our team of skilled professionals has extensive knowledge of both existing and emerging technologies.
                 Currently, we are strategically focusing on specific technologies aligned with our ongoing projects and client needs.
            </p>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="top-header p-3">
            <div class="container mt-4">
                <p class="text-blue mb-0">TRANSFORMING IDEAS INTO</p>
                <h1><span class="text-blue">Smart Digital</span> Solutions</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card">
    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    
                </div>
            </div>
       </div>
    </div>

</section>
