<div *ngIf="isLoading" class="loading-container">
  <p>Loading...</p>
</div>

<!-- Show content only when isLoading is false -->
<div *ngIf="!isLoading">
  <section
    class="header-banner"
    style="height: 86vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url({{ pageContent.page_background_image }})"
  >
    <div class="overlay">
      <div class="header-title">
        <h1 [innerHTML]="pageTitle"></h1>
        <p>{{ pageContent.page_description }}</p>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="top-header p-3">
        <div class="container mt-4">
          <p class="text-blue mb-0 text-center">{{ pageContent.sub_title }}</p>
          <h1 class="text-center" [innerHTML]="title"></h1>
        </div>
      </div>
      <div class="row d-flex flex-wrap justify-content-center mt-5">
        <div
          class="col-md-4 mb-5"
          *ngFor="let content of pageContent.main; let i = index"
        >
          <div class="card d-flex flex-column h-100">
            <img [src]="content.home_image" height="150" alt="" />
            <p>
              {{ content.home_content_description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
